<!-- Encabezado -->
<header class="bg-dark text-white text-center py-4">
  <h1>Calculadora</h1>
</header>

<body>
  <div class="container-fluid contenedor-calculadora">
    <div class="row">
      <div class="col"><p></p></div>
      <div class="col-4 text-center">
        <div class="input-group mb-3">
          <span class="input-group-text fs-4 text bg-success text-light">Número 1</span>
          <input type="number" [(ngModel)]="num1" value="0" class="form-control fs-4">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text fs-4 text bg-success text-light">Número 2</span>
          <input type="number" [(ngModel)]="num2" value="0" class="form-control fs-4">
        </div>
        <hr>
        <div class="input-group mb-3">
          <span class="input-group-text fs-4 text bg-warning">Resultado</span>
          <input type="text" [(ngModel)]="res" value="0" class="form-control fs-4">
        </div>
        <p>{{ error }}</p>
        <button type="button" class="options btn mx-1 btn-secondary" (click)="suma()">Suma</button>
        <button type="button" class="options btn mx-1 btn-secondary" (click)="resta()">Resta</button>
        <button type="button" class="options btn mx-1 btn-secondary" (click)="multiplicacion()">Multiplicación</button>
        <button type="button" class="options btn mx-1 btn-secondary" (click)="division()">División</button>
      </div>
      <div class="col"></div>
    </div>
  </div>
</body>

<!-- Pie de página -->
<footer class="bg-dark text-white text-center py-2 fixed-bottom">
  <p>© 2023 Tu Calculadora</p>
</footer>